In [1]:
import findspark
findspark.init("/home/ubuntu/spark-2.1.1-bin-hadoop2.7")
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("xliu677_722").getOrCreate()

In [51]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import col, isnan, isnull, when, count, mean, trim, log10
from IPython.display import display
# pandas
import pandas as pd
import matplotlib.pyplot as plt
def display_null_values(df):
    print("----------------Null values----------------") 
    df_to_pandas = df.toPandas()
    selected_null_values = df.select([count(when(isnan(c) | isnull(c), c)).alias(c) for c in df.columns]
        ).toPandas()
    display(selected_null_values.transpose())
    print("----------------End----------------")
def display_total_number_rows(df):
    print("--->Total number of rows: %s" % df.count())

In [3]:
education = spark.read.load("./datasets/tertiary_education.csv",format ="csv",header="true")

In [4]:
display_null_values(education)

----------------Null values----------------

               0
LOCATION       0
INDICATOR      0
SUBJECT        0
MEASURE        0
FREQUENCY      0
TIME           0
Value          0
Flag Codes  2968

----------------End----------------

In [5]:

GDP = spark.read.load("./datasets/GDP1.csv",format ="csv",header="true")
print(GDP)
GDP.show()
GDP.count()

DataFrame[Country: string, Date: string, Year: string, abc: string]
+-----------+--------+----+--------+
|    Country|    Date|Year|     abc|
+-----------+--------+----+--------+
|Afghanistan|1/1/1901|1991|  613.99|
|Afghanistan|1/1/1906|1996|  624.04|
|Afghanistan|1/1/1911|2001|  634.25|
|Afghanistan|1/1/1916|2006|  647.28|
|Afghanistan|1/1/1921|2011|   662.4|
|Afghanistan|1/1/1926|1901|  677.87|
|Afghanistan|1/1/1931|1906|  693.71|
|Afghanistan|1/1/1936|1911|  709.91|
|Afghanistan|1/1/1941|1916|  726.49|
|Afghanistan|1/1/1946|1921|  743.46|
|Afghanistan|1/1/1951|1926|  766.75|
|Afghanistan|1/1/1956|1931|  837.07|
|Afghanistan|1/1/1961|1936|  857.36|
|Afghanistan|1/1/1966|1941|  833.61|
|Afghanistan|1/1/1971|1946|   773.7|
|Afghanistan|1/1/1976|1951|  866.19|
|Afghanistan|1/1/1981|1956|  896.86|
|Afghanistan|1/1/1986|1961|1,030.89|
|Afghanistan|1/1/1991|1966|  705.45|
|Afghanistan|1/1/1996|1971|  617.91|
+-----------+--------+----+--------+
only showing top 20 rows

4419

In [6]:
print(education)
education.show()
education.count()

DataFrame[LOCATION: string, INDICATOR: string, SUBJECT: string, MEASURE: string, FREQUENCY: string, TIME: string, Value: string, Flag Codes: string]
+--------+---------+-------+-------+---------+----+-----------+----------+
|LOCATION|INDICATOR|SUBJECT|MEASURE|FREQUENCY|TIME|      Value|Flag Codes|
+--------+---------+-------+-------+---------+----+-----------+----------+
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|1991| 35.7075386|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|1993|22.83651733|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|1994| 23.6249485|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|1995|24.69714165|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|1997|25.70216751|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|1998|28.13957787|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|1999|28.98158646|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2000|31.37251663|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2001|33.51193237|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2002|35.79733658|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2003|36.32281494|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2004|36.16824722|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2005|38.09831238|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2006|38.80412292|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2007|40.72885513|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2008|41.99682999|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2009|44.77848816|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2010|44.37483597|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2011|44.61552811|      null|
|     AUS|   EDUTRY|  25_34| PC_AGE|        A|2012| 47.2310791|      null|
+--------+---------+-------+-------+---------+----+-----------+----------+
only showing top 20 rows

2968

In [7]:
education = education ["LOCATION","TIME","Value"]
print(education)
education.show()
education.count()

DataFrame[LOCATION: string, TIME: string, Value: string]
+--------+----+-----------+
|LOCATION|TIME|      Value|
+--------+----+-----------+
|     AUS|1991| 35.7075386|
|     AUS|1993|22.83651733|
|     AUS|1994| 23.6249485|
|     AUS|1995|24.69714165|
|     AUS|1997|25.70216751|
|     AUS|1998|28.13957787|
|     AUS|1999|28.98158646|
|     AUS|2000|31.37251663|
|     AUS|2001|33.51193237|
|     AUS|2002|35.79733658|
|     AUS|2003|36.32281494|
|     AUS|2004|36.16824722|
|     AUS|2005|38.09831238|
|     AUS|2006|38.80412292|
|     AUS|2007|40.72885513|
|     AUS|2008|41.99682999|
|     AUS|2009|44.77848816|
|     AUS|2010|44.37483597|
|     AUS|2011|44.61552811|
|     AUS|2012| 47.2310791|
+--------+----+-----------+
only showing top 20 rows

2968

In [8]:
display_null_values(GDP)

----------------Null values----------------

         0
Country  0
Date     0
Year     0
abc      0

----------------End----------------

In [9]:
GDP = GDP ["Country","Year","abc"]
print(GDP)
GDP.show()
GDP.count()

DataFrame[Country: string, Year: string, abc: string]
+-----------+----+--------+
|    Country|Year|     abc|
+-----------+----+--------+
|Afghanistan|1991|  613.99|
|Afghanistan|1996|  624.04|
|Afghanistan|2001|  634.25|
|Afghanistan|2006|  647.28|
|Afghanistan|2011|   662.4|
|Afghanistan|1901|  677.87|
|Afghanistan|1906|  693.71|
|Afghanistan|1911|  709.91|
|Afghanistan|1916|  726.49|
|Afghanistan|1921|  743.46|
|Afghanistan|1926|  766.75|
|Afghanistan|1931|  837.07|
|Afghanistan|1936|  857.36|
|Afghanistan|1941|  833.61|
|Afghanistan|1946|   773.7|
|Afghanistan|1951|  866.19|
|Afghanistan|1956|  896.86|
|Afghanistan|1961|1,030.89|
|Afghanistan|1966|  705.45|
|Afghanistan|1971|  617.91|
+-----------+----+--------+
only showing top 20 rows

4419

In [10]:
changedTypedf = education.withColumn("TIME", education["TIME"].cast("integer")).withColumn("Value", education["Value"].cast("float"))
changedTypedf.printSchema()

cols = ["TIME","Value"]
bounds ={}
for col in cols:
    quantiles = changedTypedf.approxQuantile(col,[0.25,0.75],0)
    IQR = quantiles[1] - quantiles[0]
    bounds[col] = [quantiles[0] - 1.5*IQR,quantiles[1] +1.5*IQR]
bounds

outliers =  changedTypedf.select(*["TIME",'Value']+[
    (
            (changedTypedf[c]<bounds[c][0])|
            (changedTypedf[c]>bounds[c][1])
    ).alias(c + "_outliers") for c in cols
    ])
outliers.show()

root
 |-- LOCATION: string (nullable = true)
 |-- TIME: integer (nullable = true)
 |-- Value: float (nullable = true)

+----+---------+-------------+--------------+
|TIME|    Value|TIME_outliers|Value_outliers|
+----+---------+-------------+--------------+
|1991| 35.70754|        false|         false|
|1993|22.836517|        false|         false|
|1994|23.624949|        false|         false|
|1995|24.697142|        false|         false|
|1997|25.702168|        false|         false|
|1998|28.139578|        false|         false|
|1999|28.981586|        false|         false|
|2000|31.372517|        false|         false|
|2001|33.511932|        false|         false|
|2002|35.797337|        false|         false|
|2003|36.322815|        false|         false|
|2004|36.168247|        false|         false|
|2005|38.098312|        false|         false|
|2006|38.804123|        false|         false|
|2007|40.728855|        false|         false|
|2008| 41.99683|        false|         false|
|2009| 44.77849|        false|         false|
|2010|44.374836|        false|         false|
|2011| 44.61553|        false|         false|
|2012| 47.23108|        false|         false|
+----+---------+-------------+--------------+
only showing top 20 rows

In [11]:
new_df1 = changedTypedf.join(outliers,on =["TIME","Value"])
new_df1 = new_df1.filter((new_df1.TIME_outliers == False)& (new_df1.Value_outliers == False))
new_df1 = new_df1.drop(*["TIME_outliers","Value_outliers"])
new_df1.show()
new_df1.count()

+----+---------+--------+
|TIME|    Value|LOCATION|
+----+---------+--------+
|1991| 35.70754|     AUS|
|1993|22.836517|     AUS|
|1994|23.624949|     AUS|
|1995|24.697142|     AUS|
|1997|25.702168|     AUS|
|1998|28.139578|     AUS|
|1999|28.981586|     AUS|
|2000|31.372517|     AUS|
|2001|33.511932|     AUS|
|2002|35.797337|     AUS|
|2003|36.322815|     AUS|
|2004|36.168247|     AUS|
|2005|38.098312|     AUS|
|2006|38.804123|     AUS|
|2007|40.728855|     AUS|
|2008| 41.99683|     AUS|
|2009| 44.77849|     AUS|
|2010|44.374836|     AUS|
|2011| 44.61553|     AUS|
|2012| 47.23108|     AUS|
+----+---------+--------+
only showing top 20 rows

2932

In [12]:
changedTypedf = GDP.withColumn("Year", GDP["Year"].cast("integer")).withColumn("abc", GDP["abc"].cast("float"))
changedTypedf.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- abc: float (nullable = true)

In [13]:
cols = ["Year","abc"]
bounds ={}
for col in cols:
    quantiles = changedTypedf.approxQuantile(col,[0.25,0.75],0)
    IQR = quantiles[1] - quantiles[0]
    bounds[col] = [quantiles[0] - 1.5*IQR,quantiles[1] +1.5*IQR]
bounds

{'Year': [1836.0, 2076.0], 'abc': [138.41995239257812, 1243.2200012207031]}

In [14]:

outliers =  changedTypedf.select(*["Year",'abc']+[
    (
            (changedTypedf[c]<bounds[c][0])|
            (changedTypedf[c]>bounds[c][1])
    ).alias(c + "_outliers") for c in cols
    ])
outliers.show()

+----+------+-------------+------------+
|Year|   abc|Year_outliers|abc_outliers|
+----+------+-------------+------------+
|1991|613.99|        false|       false|
|1996|624.04|        false|       false|
|2001|634.25|        false|       false|
|2006|647.28|        false|       false|
|2011| 662.4|        false|       false|
|1901|677.87|        false|       false|
|1906|693.71|        false|       false|
|1911|709.91|        false|       false|
|1916|726.49|        false|       false|
|1921|743.46|        false|       false|
|1926|766.75|        false|       false|
|1931|837.07|        false|       false|
|1936|857.36|        false|       false|
|1941|833.61|        false|       false|
|1946| 773.7|        false|       false|
|1951|866.19|        false|       false|
|1956|896.86|        false|       false|
|1961|  null|        false|        null|
|1966|705.45|        false|       false|
|1971|617.91|        false|       false|
+----+------+-------------+------------+
only showing top 20 rows

In [15]:
new_df1 = changedTypedf.join(outliers,on =["Year","abc"])
new_df1 = new_df1.filter((new_df1.Year_outliers == False)& (new_df1.abc_outliers == False))
new_df1 = new_df1.drop(*["Year_outliers","abc_outliers"])
new_df1.show()
new_df1.count()

+----+------+-----------+
|Year|   abc|    Country|
+----+------+-----------+
|1991|613.99|Afghanistan|
|1996|624.04|Afghanistan|
|2001|634.25|Afghanistan|
|2006|647.28|Afghanistan|
|2011| 662.4|Afghanistan|
|1901|677.87|Afghanistan|
|1906|693.71|Afghanistan|
|1911|709.91|Afghanistan|
|1916|726.49|Afghanistan|
|1921|743.46|Afghanistan|
|1926|766.75|Afghanistan|
|1931|837.07|Afghanistan|
|1936|857.36|Afghanistan|
|1941|833.61|Afghanistan|
|1946| 773.7|Afghanistan|
|1951|866.19|Afghanistan|
|1956|896.86|Afghanistan|
|1966|705.45|Afghanistan|
|1971|617.91|Afghanistan|
|1976|595.04|Afghanistan|
+----+------+-----------+
only showing top 20 rows

1105

In [16]:
pop_increase = spark.read.load("./datasets/population increase rate.csv",format ="csv",header="true")

In [17]:
display_null_values(pop_increase)

----------------Null values----------------

                                        0
Variant                                 0
Region, subregion, country or area *    0
Notes                                 164
Country code                            0
Type                                    0
Parent code                             0
1950-1955                               0
1955-1960                               0
1960-1965                               0
1965-1970                               0
1970-1975                               0
1975-1980                               0
1980-1985                               0
1985-1990                               0
1990-1995                               0
1995-2000                               0
2000-2005                               0
2005-2010                               0
2010-2015                               0
2015-2020                               0

----------------End----------------

In [18]:
print(pop_increase)
pop_increase.show()
pop_increase.count()

DataFrame[Variant: string, Region, subregion, country or area *: string, Notes: string, Country code: string, Type: string, Parent code: string, 1950-1955: string, 1955-1960: string, 1960-1965: string, 1965-1970: string, 1970-1975: string, 1975-1980: string, 1980-1985: string, 1985-1990: string, 1990-1995: string, 1995-2000: string, 2000-2005: string, 2005-2010: string, 2010-2015: string, 2015-2020: string]
+---------+------------------------------------+-----+------------+------------+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|  Variant|Region, subregion, country or area *|Notes|Country code|        Type|Parent code|1950-1955|1955-1960|1960-1965|1965-1970|1970-1975|1975-1980|1980-1985|1985-1990|1990-1995|1995-2000|2000-2005|2005-2010|2010-2015|2015-2020|
+---------+------------------------------------+-----+------------+------------+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|Estimates|                             Burundi| null|         108|Country/Area|        910|     24.6|     24.8|     25.9|     26.9|     27.2|     30.9|     32.9|     34.1|     30.4|     27.4|     29.4|     31.9|     33.0|     31.2|
|Estimates|                             Comoros| null|         174|Country/Area|        910|     19.6|     23.3|     24.9|     25.7|     26.9|     28.7|     31.4|     31.7|     30.1|     28.7|     27.5|     27.1|     26.6|     24.8|
|Estimates|                            Djibouti| null|         262|Country/Area|        910|     20.0|     23.6|     26.8|     28.7|     30.8|     29.9|     28.9|     29.4|     27.8|     22.9|     19.9|     17.0|     15.5|     14.6|
|Estimates|                             Eritrea| null|         232|Country/Area|        910|     17.7|     22.0|     24.8|     25.7|     26.2|     26.9|     27.9|     27.7|     23.3|     19.4|     24.0|     28.3|     25.7|     23.4|
|Estimates|                            Ethiopia| null|         231|Country/Area|        910|     19.3|     21.1|     24.4|     25.8|     27.6|     27.7|     27.8|     29.2|     29.4|     30.3|     28.8|     27.7|     27.2|     25.9|
|Estimates|                               Kenya| null|         404|Country/Area|        910|     27.9|     30.0|     32.4|     34.4|     36.9|     37.9|     38.1|     35.3|     29.7|     28.2|     27.0|     28.5|     26.2|     23.4|
|Estimates|                          Madagascar| null|         450|Country/Area|        910|     21.3|     23.1|     24.7|     26.4|     28.3|     29.3|     28.9|     28.5|     30.1|     31.5|     30.2|     28.6|     27.2|     26.7|
|Estimates|                              Malawi| null|         454|Country/Area|        910|     20.4|     22.5|     24.3|     25.8|     27.6|     29.3|     30.1|     30.2|     27.1|     26.0|     25.8|     29.0|     29.2|     27.5|
|Estimates|                           Mauritius|    1|         480|Country/Area|        910|     28.1|     31.7|     35.1|     25.9|     20.1|     20.3|     14.4|     14.7|     14.4|     11.3|      9.3|      6.2|      3.8|      1.9|
|Estimates|                             Mayotte|    2|         175|Country/Area|        910|     14.3|     24.0|     30.7|     35.5|     38.9|     42.3|     41.4|     39.8|     32.4|     32.9|     33.6|     33.7|     29.2|     25.6|
|Estimates|                          Mozambique| null|         508|Country/Area|        910|     18.4|     20.4|     23.1|     23.6|     24.3|     25.3|     24.8|     24.2|     26.0|     27.5|     28.8|     28.0|     28.0|     29.1|
|Estimates|                             Réunion|    2|         638|Country/Area|        910|     30.4|     30.6|     31.7|     27.7|     19.6|     17.1|     17.4|     18.4|     16.6|     15.2|     14.6|     12.7|     11.1|      8.7|
|Estimates|                              Rwanda| null|         646|Country/Area|        910|     28.9|     29.9|     28.5|     28.7|     30.9|     34.0|     36.9|     33.1|     -2.4|     24.8|     23.3|     27.1|     26.9|     26.8|
|Estimates|                          Seychelles| null|         690|Country/Area|        910|     26.6|     25.9|     27.9|     27.0|     25.2|     22.1|     19.7|     17.1|     15.1|     11.7|     11.8|     11.9|     10.1|      9.0|
|Estimates|                             Somalia| null|         706|Country/Area|        910|     19.1|     20.3|     21.6|     23.0|     23.8|     23.8|     25.4|     28.5|     29.6|     33.7|     32.6|     32.0|     30.8|     30.9|
|Estimates|                         South Sudan| null|         728|Country/Area|        910|     10.8|     16.3|     19.4|     21.8|     22.7|     23.7|     23.4|     25.7|     27.2|     27.6|     26.3|     26.4|     25.9|     24.6|
|Estimates|                              Uganda| null|         800|Country/Area|        910|     26.5|     27.8|     29.7|     31.5|     31.9|     32.5|     33.1|     32.5|     31.2|     31.0|     33.4|     34.9|     34.5|     31.8|
|Estimates|                United Republic o...|    3|         834|Country/Area|        910|     26.1|     28.0|     28.7|     29.6|     30.3|     31.1|     30.5|     29.9|     28.2|     26.9|     29.2|     30.9|     30.8|     30.4|
|Estimates|                              Zambia| null|         894|Country/Area|        910|     27.0|     29.8|     32.2|     32.6|     34.4|     34.6|     33.2|     31.8|     28.2|     26.6|     28.6|     30.2|     31.5|     29.7|
|Estimates|                            Zimbabwe| null|         716|Country/Area|        910|     31.6|     32.7|     34.4|     35.2|     36.3|     37.0|     33.6|     30.5|     23.4|     17.1|     14.9|     18.3|     26.3|     22.8|
+---------+------------------------------------+-----+------------+------------+-----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

201

In [19]:
pop_increase = pop_increase.drop(*["Variant","Notes","Country code","Type","Parent code"])
print(pop_increase)
pop_increase.show()
pop_increase.count()

DataFrame[Region, subregion, country or area *: string, 1950-1955: string, 1955-1960: string, 1960-1965: string, 1965-1970: string, 1970-1975: string, 1975-1980: string, 1980-1985: string, 1985-1990: string, 1990-1995: string, 1995-2000: string, 2000-2005: string, 2005-2010: string, 2010-2015: string, 2015-2020: string]
+------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|Region, subregion, country or area *|1950-1955|1955-1960|1960-1965|1965-1970|1970-1975|1975-1980|1980-1985|1985-1990|1990-1995|1995-2000|2000-2005|2005-2010|2010-2015|2015-2020|
+------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|                             Burundi|     24.6|     24.8|     25.9|     26.9|     27.2|     30.9|     32.9|     34.1|     30.4|     27.4|     29.4|     31.9|     33.0|     31.2|
|                             Comoros|     19.6|     23.3|     24.9|     25.7|     26.9|     28.7|     31.4|     31.7|     30.1|     28.7|     27.5|     27.1|     26.6|     24.8|
|                            Djibouti|     20.0|     23.6|     26.8|     28.7|     30.8|     29.9|     28.9|     29.4|     27.8|     22.9|     19.9|     17.0|     15.5|     14.6|
|                             Eritrea|     17.7|     22.0|     24.8|     25.7|     26.2|     26.9|     27.9|     27.7|     23.3|     19.4|     24.0|     28.3|     25.7|     23.4|
|                            Ethiopia|     19.3|     21.1|     24.4|     25.8|     27.6|     27.7|     27.8|     29.2|     29.4|     30.3|     28.8|     27.7|     27.2|     25.9|
|                               Kenya|     27.9|     30.0|     32.4|     34.4|     36.9|     37.9|     38.1|     35.3|     29.7|     28.2|     27.0|     28.5|     26.2|     23.4|
|                          Madagascar|     21.3|     23.1|     24.7|     26.4|     28.3|     29.3|     28.9|     28.5|     30.1|     31.5|     30.2|     28.6|     27.2|     26.7|
|                              Malawi|     20.4|     22.5|     24.3|     25.8|     27.6|     29.3|     30.1|     30.2|     27.1|     26.0|     25.8|     29.0|     29.2|     27.5|
|                           Mauritius|     28.1|     31.7|     35.1|     25.9|     20.1|     20.3|     14.4|     14.7|     14.4|     11.3|      9.3|      6.2|      3.8|      1.9|
|                             Mayotte|     14.3|     24.0|     30.7|     35.5|     38.9|     42.3|     41.4|     39.8|     32.4|     32.9|     33.6|     33.7|     29.2|     25.6|
|                          Mozambique|     18.4|     20.4|     23.1|     23.6|     24.3|     25.3|     24.8|     24.2|     26.0|     27.5|     28.8|     28.0|     28.0|     29.1|
|                             Réunion|     30.4|     30.6|     31.7|     27.7|     19.6|     17.1|     17.4|     18.4|     16.6|     15.2|     14.6|     12.7|     11.1|      8.7|
|                              Rwanda|     28.9|     29.9|     28.5|     28.7|     30.9|     34.0|     36.9|     33.1|     -2.4|     24.8|     23.3|     27.1|     26.9|     26.8|
|                          Seychelles|     26.6|     25.9|     27.9|     27.0|     25.2|     22.1|     19.7|     17.1|     15.1|     11.7|     11.8|     11.9|     10.1|      9.0|
|                             Somalia|     19.1|     20.3|     21.6|     23.0|     23.8|     23.8|     25.4|     28.5|     29.6|     33.7|     32.6|     32.0|     30.8|     30.9|
|                         South Sudan|     10.8|     16.3|     19.4|     21.8|     22.7|     23.7|     23.4|     25.7|     27.2|     27.6|     26.3|     26.4|     25.9|     24.6|
|                              Uganda|     26.5|     27.8|     29.7|     31.5|     31.9|     32.5|     33.1|     32.5|     31.2|     31.0|     33.4|     34.9|     34.5|     31.8|
|                United Republic o...|     26.1|     28.0|     28.7|     29.6|     30.3|     31.1|     30.5|     29.9|     28.2|     26.9|     29.2|     30.9|     30.8|     30.4|
|                              Zambia|     27.0|     29.8|     32.2|     32.6|     34.4|     34.6|     33.2|     31.8|     28.2|     26.6|     28.6|     30.2|     31.5|     29.7|
|                            Zimbabwe|     31.6|     32.7|     34.4|     35.2|     36.3|     37.0|     33.6|     30.5|     23.4|     17.1|     14.9|     18.3|     26.3|     22.8|
+------------------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

201

In [23]:
display_null_values(pop_increase)

pop_increase = pop_increase.dropna()
print(pop_increase.shape)

outliers_pop = pop_increase["1975-1980"].quantile([0.1,0.999])
accepted_pop = ((outliers_pop.loc[0.1]<pop_increase["1975-1980"].values)&
                    (pop_increase["1975-1980"]<outliers_pop.loc[0.999]))
valid_pop= pop_increase[accepted_pop]
print(valid_pop)

----------------Null values----------------

                                      0
Region, subregion, country or area *  0
1950-1955                             0
1955-1960                             0
1960-1965                             0
1965-1970                             0
1970-1975                             0
1975-1980                             0
1980-1985                             0
1985-1990                             0
1990-1995                             0
1995-2000                             0
2000-2005                             0
2005-2010                             0
2010-2015                             0
2015-2020                             0

----------------End----------------

AttributeError: 'DataFrame' object has no attribute 'shape'

In [ ]:
changedTypedf = elderly.withColumn("TIME", elderly["TIME"].cast("float")).withColumn("Value", elderly["Value"].cast("float"))
changedTypedf.printSchema()

cols = ["TIME","Value"]
bounds ={}
for col in cols:
    quantiles = changedTypedf.approxQuantile(col,[0.25,0.75],0)
    IQR = quantiles[1] - quantiles[0]
    bounds[col] = [quantiles[0] - 1.5*IQR,quantiles[1] +1.5*IQR]
bounds

outliers =  changedTypedf.select(*["TIME",'Value']+[
    (
            (changedTypedf[c]<bounds[c][0])|
            (changedTypedf[c]>bounds[c][1])
    ).alias(c + "_outliers") for c in cols
    ])
outliers.show()

In [ ]:
retirement = spark.read.load("./datasets/statistic_id268824_retirement-age---international-comparison.csv",format ="csv",header="true")
retirement.show()
print(retirement)
retirement.count()

In [ ]:
countrycode = spark.read.load("./datasets/country-codes.csv",format ="csv",header="true")
countrycode.show()

In [ ]:
elderly = spark.read.load("./datasets/elderly_pop.csv",format ="csv",header="true")
elderly.show()
print(elderly)
elderly.count()

In [ ]:
display_null_values(elderly)

In [ ]:
elderly = elderly ["LOCATION","TIME","Value"]
print(elderly)
elderly.show()
elderly.count()

In [ ]:
changedTypedf = elderly.withColumn("TIME", elderly["TIME"].cast("integer")).withColumn("Value", elderly["Value"].cast("float"))
changedTypedf.printSchema()

cols = ["TIME","Value"]
bounds ={}
for col in cols:
    quantiles = changedTypedf.approxQuantile(col,[0.25,0.75],0)
    IQR = quantiles[1] - quantiles[0]
    bounds[col] = [quantiles[0] - 1.5*IQR,quantiles[1] +1.5*IQR]
bounds

outliers =  changedTypedf.select(*["TIME",'Value']+[
    (
            (changedTypedf[c]<bounds[c][0])|
            (changedTypedf[c]>bounds[c][1])
    ).alias(c + "_outliers") for c in cols
    ])
outliers.show()

In [ ]:
new_df1 = changedTypedf.join(outliers,on =["TIME","Value"])
new_df1 = new_df1.filter((new_df1.TIME_outliers == False)& (new_df1.Value_outliers == False))
new_df1 = new_df1.drop(*["TIME_outliers","Value_outliers"])
new_df1.show()
new_df1.count()

In [ ]:
import pandas as pd
path = "./datasets/tertiary_education.csv"
data_set = pd.read_csv(path)
data_set.head(10)

In [ ]:
from matplotlib import pyplot as plt
plt.scatter(data_set["TIME"],data_set["Value"])
plt.xlabel("TIME")
plt.ylabel("Value")

In [ ]:
plt.plot(data_set["Value"])
plt.ylabel("Value")

In [ ]:
plt.plot(data_set["TIME"])
plt.ylabel("TIME")

In [ ]:
plt.plot(data_set["LOCATION"])
plt.ylabel("LOCATION")

In [ ]:
import pandas as pd
path = "./datasets/population increase rate.csv"
data_set = pd.read_csv(path)
data_set.head(10)

In [ ]:
from matplotlib import pyplot as plt
plt.plot(data_set["Region, subregion, country or area *"])
plt.ylabel("country")

In [ ]:
plt.plot(data_set["1955-1960"])
plt.plot(data_set["1960-1965"])
plt.plot(data_set["1965-1970"])
plt.plot(data_set["1970-1975"])
plt.plot(data_set["1975-1980"])
plt.plot(data_set["1980-1985"])
plt.plot(data_set["1985-1990"])
plt.plot(data_set["1990-1995"])
plt.plot(data_set["1995-2000"])
plt.plot(data_set["2000-2005"])
plt.plot(data_set["2005-2010"])
plt.plot(data_set["2010-2015"])
plt.plot(data_set["2015-2020"])

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
path = "./datasets/GDP1.csv"
data_set = pd.read_csv(path)
data_set.head(10)

In [ ]:
from matplotlib import pyplot as plt
plt.plot(data_set["Year"])
plt.ylabel("Year")

In [ ]:
print(education)
education.show()
education.count()
print (education.isnull().sum())
print (education.isnull().sum().sum())

In [64]:
path = "./datasets/final.csv"
final = pd.read_csv(path)
final.head(10)
print(final)
##

     Value_tertiary  Value_elderly  1950-1955  1955-1960  1960-1965  \
0            29.630          8.424     24.611     24.804     25.895
1            44.375          8.475     19.610     23.252     24.890
2            34.825          8.515     20.044     23.604     26.842
3            39.527          8.512     17.748     21.986     24.790
4            25.102          8.515     19.322     21.131     24.445
5            33.864          8.513     27.889     29.983     32.410
6            30.721          8.538     21.327     23.057     24.653
7            20.384          8.554     20.350     22.477     24.349
8            39.386          8.525     28.097     31.682     35.132
9            30.912          8.520     14.348     23.961     30.742
10           25.633          8.503     18.381     20.447     23.065
11           43.801          8.472     30.385     30.590     31.669
12           41.982          8.444     28.947     29.896     28.517
13           56.507          8.372     26.630     25.851     27.885
14           46.562          8.345     19.132     20.257     21.552
15           56.170          8.344     10.773     16.331     19.440
16           38.504          8.406     26.455     27.759     29.660
17           33.449          8.506     26.128     27.953     28.729
18           28.124          8.607     27.004     29.799     32.224
19           40.051          8.721     31.606     32.670     34.409
20            9.136          8.928     20.653     22.274     21.820
21            3.599          9.072     17.749     19.018     21.794
22           17.949          9.240     10.951     13.824     16.058
23            6.131          9.436     17.786     18.749     19.837
24           17.624          9.617     19.279     22.229     25.237
25           20.218          9.750     20.759     23.023     24.514
26           17.257          9.871     12.318     12.496     13.516
27           26.132          9.977      3.346      5.529      8.904
28           16.268         10.102     26.756     29.142     30.161
29           15.903         10.267     26.707     28.984     29.995
..              ...            ...        ...        ...        ...
127          23.125         12.495     25.483     29.029     30.767
128          15.006         12.636     30.456     30.101     29.483
129          37.127         12.807     27.321     29.321     30.686
130           8.898         12.995     30.768     32.564     33.023
131          24.805         13.146     31.953     33.651     32.203
132          10.399         13.275     29.442     31.063     31.639
133          16.151         13.393     16.427     15.803     14.595
134          24.029         13.492     17.032     19.329     20.929
135          14.636         13.609     28.362     28.640     28.786
136          12.700         13.740     24.368     24.314     23.443
137          15.933         13.845     31.088     33.728     34.202
138          16.299         13.925     26.308     28.001     28.989
139          31.308         13.986     20.646     18.714     19.111
140          19.976         14.048     33.433     34.360     30.960
141          26.724         14.159     35.563     34.139     33.290
142          42.231         14.271     26.364     27.688     29.006
143          29.330         14.260     32.264     32.997     33.797
144          27.226         14.212     10.762     11.898     12.374
145          36.850         14.092     34.110     35.396     34.352
146           9.457         13.820     13.662     13.949     12.744
147          17.447         13.682     16.416     17.506     15.975
148           9.385         13.826     34.180     37.916     34.494
149          12.197         14.083     19.274     21.546     23.144
150          40.961         14.285      9.435     15.333     18.874
151          40.028         14.486     19.565     23.096     26.096
152          42.311         14.715     31.645     32.560     32.559
153          43.411         14.922     22.362     26.736     31.055
154          11.043         15.126     23.942     27.758     27.456
155          14.730         15.310     31.026     30.052     30.019
156          12.358         15.478     30.568     31.745     28.374

     1965-1970  1970-1975  1975-1980  1980-1985  1985-1990  1990-1995  \
0       26.932     27.203     30.883     32.899     34.078     30.390
1       25.710     26.875     28.694     31.367     31.693     30.122
2       28.699     30.760     29.897     28.881     29.445     27.848
3       25.661     26.204     26.919     27.883     27.655     23.334
4       25.782     27.623     27.691     27.769     29.228     29.359
5       34.386     36.859     37.931     38.089     35.251     29.691
6       26.409     28.268     29.265     28.901     28.532     30.091
7       25.766     27.596     29.278     30.117     30.209     27.052
8       25.908     20.068     20.330     14.403     14.690     14.359
9       35.478     38.923     42.294     41.414     39.838     32.424
10      23.609     24.306     25.282     24.769     24.216     26.043
11      27.650     19.638     17.105     17.360     18.431     16.625
12      28.705     30.896     33.982     36.941     33.105     -2.381
13      27.009     25.164     22.135     19.747     17.069     15.146
14      22.981     23.794     23.806     25.430     28.463     29.587
15      21.780     22.734     23.731     23.373     25.691     27.239
16      31.498     31.930     32.527     33.139     32.525     31.231
17      29.632     30.313     31.120     30.474     29.907     28.157
18      32.551     34.387     34.592     33.231     31.783     28.243
19      35.249     36.264     36.987     33.643     30.463     23.376
20      24.255     28.924     29.091     30.302     31.139     30.302
21      24.313     26.736     29.127     31.369     31.647     29.439
22      18.348     20.928     23.281     25.544     25.768     24.276
23      21.570     25.556     27.961     29.645     31.340     32.598
24      27.635     29.302     30.012     28.628     27.244     25.928
25      25.662     26.706     27.239     28.256     28.879     29.806
26      15.639     15.589     19.080     24.708     24.410     25.144
27      14.169     17.858     21.486     24.664     26.428     25.650
28      29.888     28.111     31.026     30.149     29.408     28.794
29      30.957     32.035     33.863     33.854     28.917     22.951
..         ...        ...        ...        ...        ...        ...
127     30.028     29.260     27.473     24.241     23.120     22.890
128     30.247     31.503     32.317     31.943     30.248     30.747
129     32.524     32.886     33.727     33.414     32.399     31.196
130     33.407     32.528     29.543     26.423     24.499     22.183
131     31.924     33.630     34.036     33.077     29.800     27.138
132     30.670     29.181     26.579     24.148     22.272     20.479
133     13.822     14.821     16.820     15.003     14.275     13.727
134     21.977     22.942     23.386     22.899     22.987     22.341
135     26.309     23.927     23.654     22.785     19.318     16.741
136     21.095     19.051     17.724     16.766     17.015     15.948
137     30.777     26.047     25.542     24.075     22.047     20.751
138     29.378     28.490     26.751     25.586     24.497     22.932
139     23.020     22.129     18.371     22.663     24.909     27.123
140     28.192     26.269     22.713     22.604     19.956     20.166
141     31.730     28.529     29.262     30.090     28.585     25.982
142     28.561     28.355     26.895     25.732     24.655     22.276
143     30.337     26.466     22.624     22.460     21.391     19.775
144     10.847     11.090     10.109      8.513      8.369      8.505
145     32.263     29.158     28.083     26.282     25.030     22.141
146     11.178     10.852      8.171      8.220      7.880      7.798
147     14.278     12.714      8.912      7.764      8.362      8.978
148     28.796     25.958     26.705     26.470     23.270     21.452
149     25.894     28.435     21.565     18.772     18.197     18.289
150     21.882     24.531     26.220     26.089     24.381     24.169
151     29.573     37.022     37.326     34.835     34.039     32.239
152     30.854     29.612     30.027     29.947     29.225     28.636
153     26.449     26.192     24.890     22.357     22.354     19.332
154     23.080     19.175     22.807     24.976     26.627     25.992
155     30.826     29.696     28.474     30.937     27.626     25.293
156     26.894     26.037     24.454     24.313     24.652     20.665

     1995-2000  2000-2005  2005-2010  population       abc consume_level
0       27.402     29.415     31.938      33.011    613.99           low
1       28.675     27.477     27.070      26.646    624.04           low
2       22.910     19.901     17.041      15.459    634.25           low
3       19.409     23.985     28.266      25.695    647.28           low
4       30.282     28.818     27.670      27.156    662.40           low
5       28.243     27.032     28.454      26.238    677.87           low
6       31.460     30.230     28.590      27.233    693.71           low
7       25.980     25.849     29.049      29.228    709.91           low
8       11.293      9.345      6.158       3.762    726.49           low
9       32.881     33.582     33.731      29.230    743.46           low
10      27.458     28.812     27.963      27.962    766.75           low
11      15.153     14.600     12.659      11.095    837.07           low
12      24.756     23.349     27.096      26.864    857.36           low
13      11.692     11.832     11.873      10.131    833.61           low
14      33.747     32.602     31.960      30.753    773.70           low
15      27.614     26.341     26.422      25.857    866.19           low
16      31.020     33.384     34.892      34.519    896.86           low
17      26.926     29.196     30.905      30.832   1030.89           low
18      26.636     28.562     30.236      31.519    705.45           low
19      17.094     14.910     18.305      26.251    617.91           low
20      29.669     31.003     33.329      34.051    595.04           low
21      26.955     27.352     27.964      27.435    887.91           low
22      22.600     22.001     22.504      22.637   1261.35           low
23      33.218     32.994     32.301      31.597   1062.01           low
24      25.404     26.303     28.326      28.143   1133.49           low
25      29.263     31.099     32.917      33.139   1209.42           low
26      26.986     27.542     26.957      25.554   1272.01           low
27      23.143     20.982     22.543      24.999   1326.12           low
28      29.405     31.509     31.123      28.921   1382.53           low
29      17.698     14.969     17.020      20.132   1428.08           low
..         ...        ...        ...         ...       ...           ...
127     20.360     15.979     13.646      21.658   3175.71           low
128     29.821     27.904     23.784      18.943   3584.41           low
129     30.301     26.407     22.400      13.880   4138.47           low
130     20.011     18.177     15.721      17.736   3991.80           low
131     23.130     20.685     19.192      15.645   5882.22          high
132     19.471     17.845     16.648      10.240   8513.74          high
133     12.109     11.336     10.643      16.804  11751.60          high
134     21.452     20.209     18.339       8.738  12104.52          high
135     15.166     12.564     10.043       8.485  12770.74          high
136     12.678     10.126      9.296      10.746  16223.39          high
137     18.238     15.794     12.609      15.872  13508.80          high
138     21.477     19.085     17.066      23.530   3611.77           low
139     25.502     24.591     24.796      13.977   4580.22           low
140     19.115     16.798     14.268      16.321   4726.01           low
141     23.384     19.666     17.953      13.902   3767.94           low
142     19.044     17.052     16.623      12.869   4242.31           low
143     17.217     15.513     14.058       4.888   4962.42           low
144      7.424      6.388      5.237      14.169   4633.64           low
145     19.651     17.879     16.093       6.843   4872.97           low
146      6.596      6.105      7.231       6.837   5393.04          high
147      7.512      7.092      8.103      14.062   5845.22          high
148     18.727     16.953     14.725      11.078   6362.13          high
149     16.465     13.379     12.557      20.787   6630.03          high
150     24.889     23.714     22.514      29.447   7367.29          high
151     30.399     29.778     28.943      26.124   7955.97          high
152     27.407     27.279     27.122      12.455   9408.19          high
153     18.457     16.102     13.611      22.676   9611.92          high
154     23.396     22.316     22.326      16.959   9421.94          high
155     23.566     20.624     17.336      10.886   9026.86          high
156     16.682     14.433     12.707      20.825   8575.87          high

[157 rows x 17 columns]

In [36]:
from pyspark.sql import functions as F
df2 = new_df1.withColumn("ConsumeLevel",\
    F.when(F.col("abc").between(0,5000),"Low")\
    .otherwise("High")\
)

df2.show()

+----+------+-----------+------------+
|Year|   abc|    Country|ConsumeLevel|
+----+------+-----------+------------+
|1991|613.99|Afghanistan|         Low|
|1996|624.04|Afghanistan|         Low|
|2001|634.25|Afghanistan|         Low|
|2006|647.28|Afghanistan|         Low|
|2011| 662.4|Afghanistan|         Low|
|1901|677.87|Afghanistan|         Low|
|1906|693.71|Afghanistan|         Low|
|1911|709.91|Afghanistan|         Low|
|1916|726.49|Afghanistan|         Low|
|1921|743.46|Afghanistan|         Low|
|1926|766.75|Afghanistan|         Low|
|1931|837.07|Afghanistan|         Low|
|1936|857.36|Afghanistan|         Low|
|1941|833.61|Afghanistan|         Low|
|1946| 773.7|Afghanistan|         Low|
|1951|866.19|Afghanistan|         Low|
|1956|896.86|Afghanistan|         Low|
|1966|705.45|Afghanistan|         Low|
|1971|617.91|Afghanistan|         Low|
|1976|595.04|Afghanistan|         Low|
+----+------+-----------+------------+
only showing top 20 rows

In [65]:
final = final[['Value_tertiary', 'Value_elderly', '2005-2010', 'abc', 'consume_level']]
print(final)

     Value_tertiary  Value_elderly  2005-2010       abc consume_level
0            29.630          8.424     31.938    613.99           low
1            44.375          8.475     27.070    624.04           low
2            34.825          8.515     17.041    634.25           low
3            39.527          8.512     28.266    647.28           low
4            25.102          8.515     27.670    662.40           low
5            33.864          8.513     28.454    677.87           low
6            30.721          8.538     28.590    693.71           low
7            20.384          8.554     29.049    709.91           low
8            39.386          8.525      6.158    726.49           low
9            30.912          8.520     33.731    743.46           low
10           25.633          8.503     27.963    766.75           low
11           43.801          8.472     12.659    837.07           low
12           41.982          8.444     27.096    857.36           low
13           56.507          8.372     11.873    833.61           low
14           46.562          8.345     31.960    773.70           low
15           56.170          8.344     26.422    866.19           low
16           38.504          8.406     34.892    896.86           low
17           33.449          8.506     30.905   1030.89           low
18           28.124          8.607     30.236    705.45           low
19           40.051          8.721     18.305    617.91           low
20            9.136          8.928     33.329    595.04           low
21            3.599          9.072     27.964    887.91           low
22           17.949          9.240     22.504   1261.35           low
23            6.131          9.436     32.301   1062.01           low
24           17.624          9.617     28.326   1133.49           low
25           20.218          9.750     32.917   1209.42           low
26           17.257          9.871     26.957   1272.01           low
27           26.132          9.977     22.543   1326.12           low
28           16.268         10.102     31.123   1382.53           low
29           15.903         10.267     17.020   1428.08           low
..              ...            ...        ...       ...           ...
127          23.125         12.495     13.646   3175.71           low
128          15.006         12.636     23.784   3584.41           low
129          37.127         12.807     22.400   4138.47           low
130           8.898         12.995     15.721   3991.80           low
131          24.805         13.146     19.192   5882.22          high
132          10.399         13.275     16.648   8513.74          high
133          16.151         13.393     10.643  11751.60          high
134          24.029         13.492     18.339  12104.52          high
135          14.636         13.609     10.043  12770.74          high
136          12.700         13.740      9.296  16223.39          high
137          15.933         13.845     12.609  13508.80          high
138          16.299         13.925     17.066   3611.77           low
139          31.308         13.986     24.796   4580.22           low
140          19.976         14.048     14.268   4726.01           low
141          26.724         14.159     17.953   3767.94           low
142          42.231         14.271     16.623   4242.31           low
143          29.330         14.260     14.058   4962.42           low
144          27.226         14.212      5.237   4633.64           low
145          36.850         14.092     16.093   4872.97           low
146           9.457         13.820      7.231   5393.04          high
147          17.447         13.682      8.103   5845.22          high
148           9.385         13.826     14.725   6362.13          high
149          12.197         14.083     12.557   6630.03          high
150          40.961         14.285     22.514   7367.29          high
151          40.028         14.486     28.943   7955.97          high
152          42.311         14.715     27.122   9408.19          high
153          43.411         14.922     13.611   9611.92          high
154          11.043         15.126     22.326   9421.94          high
155          14.730         15.310     17.336   9026.86          high
156          12.358         15.478     12.707   8575.87          high

[157 rows x 5 columns]

In [62]:
print(final.isnull().sum())
print(final.dtypes)

Value_tertiary    0
Value_elderly     0
2005-2010         0
abc               0
consume_level     0
dtype: int64
Value_tertiary    float64
Value_elderly     float64
2005-2010         float64
abc               float64
consume_level      object
dtype: object

In [68]:
sparkdf = spark.createDataFrame(final)
sparkdf.printSchema()
final = sparkdf

root
 |-- Value_tertiary: double (nullable = true)
 |-- Value_elderly: double (nullable = true)
 |-- 2005-2010: double (nullable = true)
 |-- abc: double (nullable = true)
 |-- consume_level: string (nullable = true)

In [70]:
from pyspark.ml.feature import Normalizer, VectorAssembler, StandardScaler, StringIndexer
cat_column = ["consume_level"]
for i in cat_column:
    indexer = StringIndexer(inputCol=i, outputCol=i + "Index")
    model = indexer.fit(final)
    new = model.transform(final)
    final = new
final.show()

+------------------+-----------------+------------------+-------+-------------+------------------+
|    Value_tertiary|    Value_elderly|         2005-2010|    abc|consume_level|consume_levelIndex|
+------------------+-----------------+------------------+-------+-------------+------------------+
|             29.63|            8.424|31.938000000000002| 613.99|          low|               0.0|
|            44.375|            8.475|             27.07| 624.04|          low|               0.0|
|            34.825|            8.515|            17.041| 634.25|          low|               0.0|
|            39.527|            8.512|            28.266| 647.28|          low|               0.0|
|25.101999999999997|            8.515|             27.67|  662.4|          low|               0.0|
|33.864000000000004|            8.513|            28.454| 677.87|          low|               0.0|
|            30.721|            8.538|             28.59| 693.71|          low|               0.0|
|            20.384|            8.554|            29.049| 709.91|          low|               0.0|
|39.385999999999996|            8.525|6.1579999999999995| 726.49|          low|               0.0|
|            30.912|             8.52|            33.731| 743.46|          low|               0.0|
|25.633000000000003|            8.503|            27.963| 766.75|          low|               0.0|
|            43.801|8.472000000000001|            12.659| 837.07|          low|               0.0|
|            41.982|8.443999999999999|            27.096| 857.36|          low|               0.0|
|            56.507|            8.372|            11.873| 833.61|          low|               0.0|
|            46.562|            8.345|             31.96|  773.7|          low|               0.0|
|             56.17|            8.344|26.421999999999997| 866.19|          low|               0.0|
|            38.504|            8.406|34.891999999999996| 896.86|          low|               0.0|
|            33.449|            8.506|            30.905|1030.89|          low|               0.0|
|28.124000000000002|8.607000000000001|            30.236| 705.45|          low|               0.0|
|            40.051|            8.721|            18.305| 617.91|          low|               0.0|
+------------------+-----------------+------------------+-------+-------------+------------------+
only showing top 20 rows

In [73]:
new_df = final.drop(*["consume_level"])
new_df.show()

+------------------+-----------------+------------------+-------+------------------+
|    Value_tertiary|    Value_elderly|         2005-2010|    abc|consume_levelIndex|
+------------------+-----------------+------------------+-------+------------------+
|             29.63|            8.424|31.938000000000002| 613.99|               0.0|
|            44.375|            8.475|             27.07| 624.04|               0.0|
|            34.825|            8.515|            17.041| 634.25|               0.0|
|            39.527|            8.512|            28.266| 647.28|               0.0|
|25.101999999999997|            8.515|             27.67|  662.4|               0.0|
|33.864000000000004|            8.513|            28.454| 677.87|               0.0|
|            30.721|            8.538|             28.59| 693.71|               0.0|
|            20.384|            8.554|            29.049| 709.91|               0.0|
|39.385999999999996|            8.525|6.1579999999999995| 726.49|               0.0|
|            30.912|             8.52|            33.731| 743.46|               0.0|
|25.633000000000003|            8.503|            27.963| 766.75|               0.0|
|            43.801|8.472000000000001|            12.659| 837.07|               0.0|
|            41.982|8.443999999999999|            27.096| 857.36|               0.0|
|            56.507|            8.372|            11.873| 833.61|               0.0|
|            46.562|            8.345|             31.96|  773.7|               0.0|
|             56.17|            8.344|26.421999999999997| 866.19|               0.0|
|            38.504|            8.406|34.891999999999996| 896.86|               0.0|
|            33.449|            8.506|            30.905|1030.89|               0.0|
|28.124000000000002|8.607000000000001|            30.236| 705.45|               0.0|
|            40.051|            8.721|            18.305| 617.91|               0.0|
+------------------+-----------------+------------------+-------+------------------+
only showing top 20 rows

In [80]:
from pyspark.ml.feature import RFormula
f = RFormula(formula= "P~.",featuresCol="features",labelCol="2005-2010")
output = f.fit(new_df).transform(new_df)
feature_selection = output.select("features","2005-2010")
feature_selection.show()

+--------------------+------------------+
|            features|         2005-2010|
+--------------------+------------------+
|[29.63,8.424,31.9...|31.938000000000002|
|[44.375,8.475,27....|             27.07|
|[34.825,8.515,17....|            17.041|
|[39.527,8.512,28....|            28.266|
|[25.1019999999999...|             27.67|
|[33.8640000000000...|            28.454|
|[30.721,8.538,28....|             28.59|
|[20.384,8.554,29....|            29.049|
|[39.3859999999999...|6.1579999999999995|
|[30.912,8.52,33.7...|            33.731|
|[25.6330000000000...|            27.963|
|[43.801,8.4720000...|            12.659|
|[41.982,8.4439999...|            27.096|
|[56.507,8.372,11....|            11.873|
|[46.562,8.345,31....|             31.96|
|[56.17,8.344,26.4...|26.421999999999997|
|[38.504,8.406,34....|34.891999999999996|
|[33.449,8.506,30....|            30.905|
|[28.1240000000000...|            30.236|
|[40.051,8.721,18....|            18.305|
+--------------------+------------------+
only showing top 20 rows

In [93]:
train_data,test_data = feature_selection.randomSplit([0.7,0.3])

In [83]:
# Let's see our training data.
train_data.describe().show()

# And our testing data.
test_data.describe().show()

+-------+-----------------+
|summary|        2005-2010|
+-------+-----------------+
|  count|              114|
|   mean|17.21661403508772|
| stddev|9.353838921821165|
|    min|           -0.095|
|    max|           38.015|
+-------+-----------------+

+-------+------------------+
|summary|         2005-2010|
+-------+------------------+
|  count|                43|
|   mean|19.878906976744187|
| stddev| 7.643894435037536|
|    min|             5.852|
|    max|            33.731|
+-------+------------------+

In [84]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(labelCol='2005-2010')

In [85]:
lrModel = lr.fit(train_data)

In [87]:
coefficients = lrModel.coefficients
cof_col = new_df.drop(*["2005-2010"]).columns
print("Intercept: " + str(lrModel.intercept))
for i in range(len(cof_col)):
    print(cof_col[i] + ":  " +str(coefficients[i]))

Intercept: -1.678113446980762e-14
Value_tertiary:  -2.847341269373816e-17
Value_elderly:  7.792794256995047e-16
abc:  1.0000000000000004
consume_levelIndex:  -1.209152481254763e-20

In [88]:
test_results = lrModel.evaluate(test_data)

In [89]:
# Interesting results! This shows the difference between the predicted value and the test data.
test_results.residuals.show()
# Let's get some evaluation metrics (as discussed in the previous linear regression notebook).
print("RSME: {}".format(test_results.rootMeanSquaredError))

+--------------------+
|           residuals|
+--------------------+
|-7.10542735760100...|
|-1.77635683940025...|
|                 0.0|
|1.776356839400250...|
|1.776356839400250...|
|                 0.0|
|-3.55271367880050...|
|3.552713678800501...|
|-3.55271367880050...|
|                 0.0|
|-3.55271367880050...|
|                 0.0|
|-3.55271367880050...|
|-1.42108547152020...|
|5.329070518200751...|
|1.776356839400250...|
|                 0.0|
|-3.55271367880050...|
|                 0.0|
|                 0.0|
+--------------------+
only showing top 20 rows

RSME: 3.756030921297535e-15

In [90]:
print("RootMeanSquaredError: " + str(test_results.rootMeanSquaredError))
print("MeanSquaredError: " + str(test_results.meanSquaredError))
print("R2: " + str(test_results.r2))

RootMeanSquaredError: 3.756030921297535e-15
MeanSquaredError: 1.4107768281743212e-29
R2: 1.0

In [96]:

final = final.drop(*["consume_level","consume_levelIndex"])
final.show()

+------------------+-----------------+------------------+-------+
|    Value_tertiary|    Value_elderly|         2005-2010|    abc|
+------------------+-----------------+------------------+-------+
|             29.63|            8.424|31.938000000000002| 613.99|
|            44.375|            8.475|             27.07| 624.04|
|            34.825|            8.515|            17.041| 634.25|
|            39.527|            8.512|            28.266| 647.28|
|25.101999999999997|            8.515|             27.67|  662.4|
|33.864000000000004|            8.513|            28.454| 677.87|
|            30.721|            8.538|             28.59| 693.71|
|            20.384|            8.554|            29.049| 709.91|
|39.385999999999996|            8.525|6.1579999999999995| 726.49|
|            30.912|             8.52|            33.731| 743.46|
|25.633000000000003|            8.503|            27.963| 766.75|
|            43.801|8.472000000000001|            12.659| 837.07|
|            41.982|8.443999999999999|            27.096| 857.36|
|            56.507|            8.372|            11.873| 833.61|
|            46.562|            8.345|             31.96|  773.7|
|             56.17|            8.344|26.421999999999997| 866.19|
|            38.504|            8.406|34.891999999999996| 896.86|
|            33.449|            8.506|            30.905|1030.89|
|28.124000000000002|8.607000000000001|            30.236| 705.45|
|            40.051|            8.721|            18.305| 617.91|
+------------------+-----------------+------------------+-------+
only showing top 20 rows

In [97]:
from pyspark.ml.feature import RFormula
f = RFormula(formula= "P~.",featuresCol="features",labelCol="2005-2010")
output = f.fit(final).transform(final)
feature_selection = output.select("features","2005-2010")
feature_selection.show()

+--------------------+------------------+
|            features|         2005-2010|
+--------------------+------------------+
|[29.63,8.424,31.9...|31.938000000000002|
|[44.375,8.475,27....|             27.07|
|[34.825,8.515,17....|            17.041|
|[39.527,8.512,28....|            28.266|
|[25.1019999999999...|             27.67|
|[33.8640000000000...|            28.454|
|[30.721,8.538,28....|             28.59|
|[20.384,8.554,29....|            29.049|
|[39.3859999999999...|6.1579999999999995|
|[30.912,8.52,33.7...|            33.731|
|[25.6330000000000...|            27.963|
|[43.801,8.4720000...|            12.659|
|[41.982,8.4439999...|            27.096|
|[56.507,8.372,11....|            11.873|
|[46.562,8.345,31....|             31.96|
|[56.17,8.344,26.4...|26.421999999999997|
|[38.504,8.406,34....|34.891999999999996|
|[33.449,8.506,30....|            30.905|
|[28.1240000000000...|            30.236|
|[40.051,8.721,18....|            18.305|
+--------------------+------------------+
only showing top 20 rows

In [98]:
train_data,test_data = feature_selection.randomSplit([0.7,0.3])
lr = LinearRegression(labelCol='2005-2010')
coefficients = lrModel.coefficients
cof_col = new_df.drop(*["2005-2010"]).columns
print("Intercept: " + str(lrModel.intercept))
for i in range(len(cof_col)):
    print(cof_col[i] + ":  " +str(coefficients[i]))

Intercept: -1.678113446980762e-14
Value_tertiary:  -2.847341269373816e-17
Value_elderly:  7.792794256995047e-16
abc:  1.0000000000000004
consume_levelIndex:  -1.209152481254763e-20